<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <ul class="files">
        <% files.forEach(item =>{ %>
        <li class="files__item">
            <ul class="">
                <li class=""><a href='files/<%=item["file"]%>'><%=item['file']%></a></li>
            </ul>
        </li>
        <% }) %>
    </ul>
</body>

</html>